@font-face {
      font-family: 'ErbosDraco Nova NBP Regular';
      font-style: normal;
      font-weight: normal;
      src: local('ErbosDraco Nova NBP Regular'), url('erbosdraco_nova_nbp.woff') format('woff');
  }
  
  @font-face {
      font-family: 'ErbosDraco Nova Open NBP Regular';
      font-style: normal;
      font-weight: normal;
      src: local('ErbosDraco Nova Open NBP Regular'), url('erbosdraco_nova_open_nbp.woff') format('woff');
  }

 .navbar-dark .navbar-nav a.nav-link { 
      transition: all .3s ease-in-out;
      font-size: 25px;
      padding: 20px 30px;
      font-weight: 300;
}
.navbar-dark a.navbar-brand{    
        letter-spacing: 2px;
        font-weight: 500;
        font-size:  28px;
}
nav.fixed-top {
    background: transparent !important;
}
nav.collapsed-opacity {
  
}

.banner-gradient {
    height: 100%;
    background: #fc4a1a;  
    background: #ED4264;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFEDBC, #ED4264);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFEDBC, #ED4264); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 100px;
    padding-bottom: 100px;
    background-attachment: fixed;
  z-index: -1;
}

.page-logo{
    height: 300px;
    width: 300px;
    background:
    linear-gradient(63deg, #333 23%, transparent 23%) 7px 0,
    linear-gradient(63deg, transparent 74%, #333 78%),
    linear-gradient(63deg, transparent 34%, #333 38%, #333 58%, transparent 62%);
    background-size: 16px 48px;;
    border-radius: 50%;
 }
    /*Media query for Typewriter */
@media screen and (min-width: 750px) {
  .typewriter{
    font-size: 2em;
  }
}

@media screen and (max-width: 750px) {
  .typewriter{
    font-size: 7vw;
  }
  .other{
    font-size: 4.5vw;
  }
}

/*Typewriter effect on landing page + styling */
.typewriter{
    width: 750px !important;
    font-family: 'ErbosDraco Nova Open NBP Regular';
    color: white ;
    font-weight: bold;
    text-shadow: #504e4e;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 4s steps(60, end); 
  }
  
  .other{
    animation: type2 6s steps(60, end);
    word-wrap: break-word !important;
  }
 
  span.blinker{
    animation: blink 1s infinite;
  }
  
  @keyframes type{ 
    from { width: 0; } 
  } 
  
  @keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
  } 
  
  @keyframes blink{
    to{opacity: .0;}
  }
  /*Button Hover effects*/
button.button-banner {
  transition: transform .3s ease-in-out;

}
button.button-banner:hover {
    box-shadow: 0 15px 25px rgba(255, 52, 170, 0.4);
    transform: scale(1.2);
}

/* About Me */
div.about-me {
  margin-bottom: 0;
  padding: 150px 1em;
}

.aboutme-img {
  transition: transform .2s ease-in-out;
  box-shadow: 0 15px 25px #43c6c6b6;

}
.aboutme-img:hover {

    transform: scale(1.1);
}

.jumbotron p {
  font-size: 1.2em;
}

div.project-row {
  background: linear-gradient(to left, #43c6ac, #f8ffae 70%);

}

div.project-row::before{
  position: absolute;
  height: 500px;
  z-index: -1;
  width: 100%;
  content: '';
  transform-origin: top right;
  transform: skewY(2.5deg);
  background: linear-gradient(to left, #43c6ac, #f8ffae 70%);
}

div.project-row::after {
  position: absolute;
  height: 100px;
  width: 100%;
  z-index: -1;
  content: '';
  transform-origin: top right;
  transform: skewY(2.5deg);
  background: linear-gradient(to left, #43c6ac, #f8ffae 70%);
}

div.skills-container .col-sm-10 {
    font-weight: bold;
    margin: 10px;
    border: 2px #f36d48c7 solid ;
    font-size: 18px;
    background: #f36d48c7;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

div.skills-container .col-sm-10:hover {
  background-color: transparent;
  transform: scale(1.1);
  color: #f36d48c7;
  box-shadow: 0 7px 15px rgba(255, 52, 52, 0.4);
}
  
div.skills-container i {
  font-size: 30px;
}

    